<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".providers.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info" />
        </receiver>

        <service android:name=".services.IngredientService" />

        <service
            android:name=".services.IngredientViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <meta-data
            android:name="com.example.android.bakeapp.configs.GlideConfiguration"
            android:value="GlideModule" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.StepActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DetailActivity" />
        </activity>

    </application>

</manifest>
